* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

#main-doc {
  display: flex;
}

#navbar {
  background: #f94144;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}

#navbar .title {
  padding: 0 1rem 0 1rem;
  text-align: center;
  font-size: 5rem;
}

#navbar .nav-link {
  text-decoration: none;
  color: black;
  margin: 1rem 1rem 0 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content .main-section {
  border: 1px solid;
  border-radius: 5px;
  width: 70%;
  padding: 2rem;
  margin: 2rem 0;
}

.content .main-section header {
  font-size: 4rem;
  text-align: center;
}

.classification-div {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.classification-div p {
  background: #f94144;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  width: 30%;
  text-align: center;
}

.code-div {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.main-section ul {
  padding: 1rem;
}

.smol {
  font-size: 0.7rem;
  color: #f94144;
}
@media screen and (max-width: 1200px) {
  #main-doc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #navbar {
    height: 10vh;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    padding-right: 1rem;
  }

  #navbar .title {
    font-size: 150%;
  }

  #navbar .nav-link {
    font-size: 70%;
  }
  .content {
    width: 80%;
  }
}
